
<main class="container text-center">
  <% if @session[:cart] != {} %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Price</th>
          <th>Quantity</th>
          <th></th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <%@session[:cart].each do |product| %>
          <tr class= "cart-table">
            <% @product = Product.find_by(id: product[0]) %>
            <td>
              <%= image_tag "#{@product.img_url}" %>
            </td>
            <td>
              <h4><%= link_to @product.name, product_path(@product.id) %></h4>
              <p><b><%= @product.description %></b></p>
            </td>
            <td>
              <h5><%= number_to_currency(@product.price) %></h5>
            </td>
            <td>
              <%= form_with url: product_update_quant_path(@product.id), method: "patch" do |f| %>
                <div>
                  <%= f.select :quantity, options_for_select([1,2,3,4,5,6,7,8,9,10], product[1]), class:"form-control" %>
                </div>
                <div>
                  <%= f.submit "Update", class:"btn btn-success"%> <%# need to fix this button to link to the cart%>
                </div>  
              <% end %>
            </td>
            <td>
              <%= link_to "Delete",  product_remove_cart_path(@product.id), method: 'patch', class: "btn btn-secondary bg-cancel btn-table" %>
            </td>
            <td>
              <h5><%= number_to_currency(@product.total(product[1])) %></h5>
            </td>
          </tr>
          <br>
        <% end %>
      </tbody>
    </table>
    <div class="subtotal">
      <% subtotal = Product.subtotal(session) %>
      <% total_items = Product.cart_total_items(session) %>
      <h4>Subtotal: <%= number_to_currency(subtotal) %></h4>
      <h4>Shipping: Free</h4>
      <h4>Tax: <%= number_to_currency(subtotal*0.1) %></h4>
      <h4><b>Grand Total (<%= total_items %> <%=total_items > 1 ? "items" : "item" %>): <%= number_to_currency(subtotal*1.1) %></b></h4>
      <%= link_to "Proceed to Checkout", new_order_path, class: 'btn btn-success' %>
    </div>
  <%else%>
    <div class='empty-cart'>
      <%= image_tag "https://lh3.googleusercontent.com/pw/ACtC-3e03vkTI-6MF1447d8TuXQj4Rvr2u8TjSneFZbv3h7cXP7yVWlMq7rEfdPSleMtt_g46KaTUMgVLdhU8jYw-gE_vXlM_tD3l4v2IuooZyrP7HfwemQllR0J7eKAkrmjdJiZuhp8ABaobquMEG8gDVbCRA=w1236-h1544-no?authuser=0" %>
      <h2><b>Oh-Oh your cart is empty! <br>Add some items so you don't become a ghost.</b></h2>
    </div>
  <% end %>
  <br>
  <div class="pb-5">
    <%= link_to "Continue shopping", products_path, class: 'btn btn-success' %>
  </div>
</main>

