<main>
  <h1>Your Orders</h1>
  <div>
    <%= link_to "Continue shopping", products_path, class: 'btn outline-primary' %>
  </div>

  <section>
    <h4>Order Placed <%= @order.created_at %></h4>
    <h4>Total <%= number_to_currency(@order.order_total) %></h4>
    <h4>Order Status: <%= @order.status %></h4>
    <br>
    <%@order.order_items.each do |order_item| %>
      <div>
        <%= image_tag "#{order_item.product.img_url}" %>
        <h4> <%= link_to order_item.product.name, product_path(order_item.product.id) %></h4>
        <p>Price: <%= number_to_currency(order_item.product.price)  %></b></p>
        <p><b>Quantity: <%= order_item.quantity%></b></p>
        <p> Order Item Status: <%= order_item.status %></p>
      </div>
      <br>
    <% end %>
  </section>
</main>

