<main>
  <h1>Find your order</h1>
  <p>Please enter in the information below to find your order</p>
  <div>
    <%= link_to "Continue shopping", products_path, class: 'btn btn-primary' %>
  </div>
  <%= form_with url: find_order_path, method: 'get', class: "form-group" do |f| %>
    <div class="form-group">
      <%= f.label :order_id %>
      <%= f.text_field(:order_id, class: "form-control") %>
    </div>
  <%= f.submit "Lookup", class: "button btn btn-primary form-group" %>
  <% end %>
</main>