<main class="container text-center" >
<h2>Merchant: <%= @merchant.username %> </h2>

<ul>
  <li>
    <strong>Merchant ID:</strong> <%= @merchant.id %>
  </li>

  <li>
    <strong>Email:</strong> <%= @merchant.email %>
  </li>
</ul>


<%= link_to "Create new category", new_category_path, class: "btn btn-success" %>
<%= link_to "Create new product", new_merchant_product_path(@login_merchant), class: "btn btn-success" %>
<%= link_to "Order Fulfillments", fulfillment_path, class: "btn btn-success" %>


<h4>Products</h4>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Inventory</th>
        <th>Price</th>
        <th>Active</th>
        <th>Edit Product </th>
        <th>Retire Product</th>
        <th>Delete Product</th>
      </tr>
    </thead>

    <tbody class="">
    <% @products.each do |product| %>
      <% product_state = (product.active ? "Retire Product" : "Reactivate Product") %>
      <tr>
        <td><%= link_to "#{product.name}", product_path(product.id) %></td>
        <td><%= product.inventory %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= product.active %></td>
        <td> <%= link_to "Edit", edit_product_path(product.id), class: "btn btn-success" %> </td>
        <td> <%= button_to product_state, toggle_active_path(product.id), class: "btn btn-warning", data: { confirm: "Are you sure you'd like to #{product_state.downcase}?"}, method: :patch %> </td>
        <td> <%= button_to "Delete", product_path(product.id), class: "btn btn-danger", data: { confirm: "Are you sure you'd like to delete this product?"}, method: :delete %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</main>

