<main class="container text-center merchant-cont">
  
  <h2>Order Fulfillment Dashboard</h2>
  
  <section class="container text-center">
    <div class="card-deck">
      <div class="card bg-dark text-light shadow-lg">
        <div class="card-header font-weight-bolder">
          <h4> TOTAL ORDERS: <%= @login_merchant.count_orders %> </h4>
        </div>
        <div class="card-body">
          <p class="card-text"> Total Revenue: <%= number_to_currency(@login_merchant.total_revenue) %> </p>
          <p class="card-text"> <%= link_to 'View All Orders', fulfillment_path, class: "btn btn-success" %> </p>
        </div>
      </div>

      <div class="card bg-dark text-light shadow-lg">
        <div class="card-header font-weight-bolder">
          <h4> PENDING ORDERS: <%= @login_merchant.count_orders("pending") %> </h4>
        </div>
        <div class="card-body">
          <p class="card-text"> Revenue - Pending Orders: <%= number_to_currency(@login_merchant.total_revenue("pending")) %> </p>
          <p class="card-text"> <%= link_to 'View Pending Orders', fulfillment_path(:status => "pending"), class: "btn btn-success" %> </p>
        </div>
      </div>

      <div class="card bg-dark text-light shadow-lg">
        <div class="card-header font-weight-bolder">
          <h4> SHIPPED ORDERS: <%= @login_merchant.count_orders("shipped") %> </h4>
        </div>
        <div class="card-body">
          <p class="card-text"> Revenue - Shipped Orders: <%= number_to_currency(@login_merchant.total_revenue("shipped")) %> </p>
         <p class="card-text"> <%= link_to 'View Shipped Orders', fulfillment_path(:status => "shipped"), class: "btn btn-success" %> </p>
        </div>
      </div>
    </div>
  </section>

  <section class="container btn-merchant">
    <%= link_to "Back to Merchant Dashboard", dashboard_path, class: "btn btn-success btn-dashboard" %> 
  </section>

  <h3> <%= @status.capitalize %> Order Items</h3>
  <section class="table-wrapper-scroll-y my-custom-scrollbar container">
    <table class="table table-hover mb-0 text-center font-weight-bold bg-lightgray shadow-lg">
      <thead class="thead-dark">
        <tr>
          <th>Order ID</th>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Purchase Date</th>
          <th>Status</th>
          <th>Ship</th>
          <th>Cancel Item</th>
        </tr>
      </thead>

      <tbody>
      <% order_item_collection = OrderItem.where(merchant_id: params[:merchant_id]) %>
      <% @merchant_order_items.each do |order_item| %>
        <% product = Product.find_by(id: order_item.product_id) %>
        <tr>
          <td> <%= link_to order_item.order_id, order_path(order_item.order_id) %> </td>
          <td> <%= link_to product.name, product_path(product) %> </td>
          <td> <%= number_to_currency(product.price) %> </td>
          <td> <%= order_item.quantity %> </td>
          <td> <%= number_to_currency(order_item.subtotal) %> </td>
          <td> <%= order_item.created_at.strftime("%m/%d/%y") %> </td>
          <td> <%= order_item.status %> </td>
          <td> <%= link_to "SHIP", ship_item_path(order_item), method: :patch, class: "btn btn-secondary btn-table bg-dark" %> </td>
          <td> <%= link_to "CANCEL", cancel_item_path(order_item), method: :delete, data: {confirm: "Are you sure to cancel this order item?"}, class: "btn btn-secondary bg-cancel btn-table" %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>
  
</main>
