<main class="container text-center">
  <h2>Order Fulfillment Dashboard</h2>

  <section class="container text-center">
    <div class="card-deck">
      <div class="card">
        <div class="card-header font-weight-bolder">
          TOTAL ORDERS: <%= @login_merchant.count_orders %>
        </div>
        <div class="card-body">
          <p class="card-text"> Total Revenue: <%= number_to_currency(@login_merchant.total_revenue) %> </p>
          <p class="card-text"> <%= link_to 'View All Orders', merchant_order_items_path(@login_merchant), class: "btn btn-outline-secondary" %> </p>
        </div>
      </div>

      <div class="card">
        <div class="card-header font-weight-bolder">
          PENDING ORDERS: <%= @login_merchant.count_orders("pending") %>
        </div>
        <div class="card-body">
          <p class="card-text"> Revenue--Pending Orders: <%= number_to_currency(@login_merchant.total_revenue("pending")) %> </p>
          <p class="card-text"> <%= link_to 'View Pending Orders', merchant_order_items_path(@login_merchant, :status => "pending"), class: "btn btn-outline-secondary" %> </p>
        </div>
      </div>

      <div class="card">
        <div class="card-header font-weight-bolder">
          SHIPPED ORDERS: <%= @login_merchant.count_orders("shipped") %>
        </div>
        <div class="card-body">
          <p class="card-text"> Revenue--Shipped Orders: <%= number_to_currency(@login_merchant.total_revenue("shipped")) %> </p>
         <p class="card-text"> <%= link_to 'View Shipped Orders', merchant_order_items_path(@login_merchant, :status => "shipped"), class: "btn btn-outline-secondary" %> </p>
        </div>
      </div>

    </div>
  </section>

  <br>
  <br>

  <h4> <%= @status.capitalize %> Order Items</h4>
  <section class="table-wrapper-scroll-y my-custom-scrollbar container">
    <table class="table table-hover mb-0 text-center">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Purchase Date</th>
          <th>Status</th>
          <th>Ship</th>
        </tr>
      </thead>

      <tbody>
      <% order_item_collection = OrderItem.where(merchant_id: params[:merchant_id]) %>
      <% @merchant_order_items.each do |order_item| %>
        <% product = Product.find_by(id: order_item.product_id) %>
        <tr>
          <td> <%= link_to order_item.order_id, order_path(order_item.order_id) %> </td>
          <td> <%= link_to product.name, product_path(product) %> </td>
          <td> <%= number_to_currency(product.price) %> </td>
          <td> <%= order_item.quantity %> </td>
          <td> <%= number_to_currency(order_item.subtotal) %> </td>
          <td> <%= order_item.created_at.strftime("%m/%d/%y") %> </td>
          <td> <%= order_item.status %> </td>
          <td> <%= link_to "SHIP", ship_item_path(order_item), class: "btn btn-outline-secondary" %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>
</main>
