

<main>
  <section>
    <div>
      <%= image_tag "#{@product.img_url}" %>
    </div>
    <div>
      <h3><b><%= @product.name %></b></h3>
      <h4><b>Seller: <%= link_to @product.merchant.username, merchant_path(@product.merchant.id) %></b></h4>
      <p><%= @product.description %></p>
      <p><b><%= number_to_currency(@product.price) %>
      <%#  "$#{'%.2f' % @product.price}" %></b></p>
    
      <% if @product.inventory > 0 %>
        <p>In Stock</p>
      <% else %>
        <p>Out of Stock</p>
      <%end%>
      <% if @login_merchant %>
        <% status = (@product.active ? "Retire Product" : "Reactivate Product") %>
        <%= button_to status, toggle_active_path(@product.id), class: "btn btn-danger", data: { confirm: "Are you sure you'd like to #{status.downcase}?"}, method: :patch %>
      <% end %>

      <%= button_to "delete", product_path(@product.id), class: "btn btn-danger", data: { confirm: "Are you sure you'd like to delete this product?"}, method: :delete %>

    </div>
  </section>

  <%= render partial: "quantform", locals: { action_name: "Add to cart" } %>
  
</main>


  




  