<!DOCTYPE html>
<html>
  <head>
    <title>Cartmageddon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Staatliches&display=swap" rel="stylesheet">
    <link href="https://lh3.googleusercontent.com/pw/ACtC-3c5o-Ah_u0ZcK8L4LQV9caV2NexZQE2lxBSMpbb5YiTReA_FLEwaKroZBfaAqGJgFq-u0w3xjhN3Tp_jBKsnspSNuYWZbi6wf2yhsmSMMtC3pcpE8t2_sjIcylNJHGPgEMzPYErCpQA1YpV5t_8UFsAng=s256-no?authuser=0" rel="shortcut icon" type="image/png" />
  </head>

  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-mg navbar-dark bg-dark d-flex mt-n2">
      <div class="navbar-brand float-left">
        <a href="/" class="navbar-brand"><%= image_tag "https://lh3.googleusercontent.com/pw/ACtC-3dWHRmvxT71BzJRzLzmTJDGVV7eq98JsTDyYq26-OLw6_IEP9yXN5OMzSbZ8F83rNXBWXjGPmPChVkqi_m0Rg4JgjsZzcbu5RuZXwCK9eoVfSB9I0u1G-sTrYbydYdvze1Et5QqEqOSTegt5SfoZsD2=w2560-h616-no?authuser=0", class: "navbar-brand" %></a>
        <p class="small subtle-text mb-n1">Supplies for the end so you can begin again</p>
      </div>

      <div class= "navbar-cart" id="cart-icon">
        <a href="/orders/cart" class="navbar-brand"><%= image_tag "https://lh3.googleusercontent.com/pw/ACtC-3e6c97-140vufJRCZKfhKGY56rWnVecPnmDsY34XbKqfZymvlzwvZ1_JMVumox6lSl2nChctbz6tyfZ1CVdlNeytoWhsu0zaRZp0cjFQXkUgyTorUyzF-gBnLRFE0EmMnJzSvm2fhJjfPNpxC9H2Zi75w=s512-no?authuser=0"%></a>
        <div class= "numberCircle">
          <p><%= Product.cart_total_items(session) %></p>
        </div>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto text-right">
          <li class="nav-item dropdown active ">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
              href="" role="button" aria-haspopup="true" aria-expanded="false">
              Products</a>
            <div class="dropdown-menu">
              <%= link_to 'All Products', products_path, class: "dropdown-item" %>
              <% Category.all.each do |category| %>
                <%= link_to "#{category.name}", category_products_path(category), class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
              href="" role="button" aria-haspopup="true" aria-expanded="false">
              Merchants</a>
            <div class="dropdown-menu">
              <% Merchant.all.each do |merchant| %>
                <%= link_to "#{merchant.username}", merchant_products_path(merchant), class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <% if @login_merchant %>
            <li class="nav-item active">
              <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Log Out", logout_path, method: :post, class: "nav-link" %>
            </li>
          <% else %>
            
            <li class="nav-item active">
              <%= link_to "Log In", github_login_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% if !flash.empty? %>
      <section class="alert__container z-index">
        <% flash.each do |name, message| %>
          <div class="alert alert-<%= name %>">
          <span><p><%= message %></p></span>
          </div>
        <% end %>
      </section>
    <% end %>
      <%= yield %>
    <footer class="footer bg-dark text-white mt-auto pt-3">
      <div class="container small">
        <span class="row justify-content-center">
          <div class="row">
            <p><%= link_to "About Us", about_path, class: "text-decoration-none pr-2" %><p>
            <%= link_to "Order Status", order_lookup_path, class: "text-decoration-none" %>
          </div>
           <div class="w-100"></div>
          <div class="row">
            <p class="subtle-text px-2">© 2020 Cartmageddon</p>
            <p class="subtle-text px-2">All Rights Reserved</p>
          </div>
        </span>
      </div>
    </footer>
  </body>
</html>
